body{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 50px;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.contenedor{
 width: 30%;
 height: 35%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
 border: 2px solid rgb(0, 0, 0);
 background-color: rgb(217, 224, 243);
}
.contenedor h1{
 font-size: 25px;
 color: rgb(0, 0, 0);
 text-align: center;
}
.contenedor label, input, button{
 padding: 5px;
 width: 35%;
 text-align: center;
}
.contenedor label{
 color: rgb(29, 28, 110);
}
.contenedor button{
 cursor: pointer;
 margin: 1px solid rgb(0, 0, 0) ;
}
.contenedor button:hover{
 background-color: rgb(29, 28, 110);
 color: white;
}